/**app.wxss**/@import "./colorui/main.css";
@import "./colorui/icon.css";
@import "./style/weui.css";
.container {
  height: 100%;
  display: block;
  align-items: center;
} 

.cellhover {
  background-color: rgb(224, 224, 224);
}
